.inputContainer {
  margin-bottom: 2rem;
  position: relative;

  @media (max-width: 40rem) {
    margin-bottom: 1.5rem;
  }
}

.input {
  width: 100%;
  padding: 1rem;
  border: 0.125rem solid hsl(0, 0%, 85%);
  border-radius: 0.625rem;
  font-size: 1rem;

  @media (max-width: 40rem) {
    padding: 0.85rem;
    font-size: 0.85rem;
  }
}

.input:focus {
  outline: none;
  border-color: hsl(210, 100%, 65%);
  box-shadow: 0 0 0.625rem hsla(210, 100%, 65%, 0.3);
}

.invalid,
.invalid:focus {
  border-color: var(--error-red);
}

/* Hide the default "eye" icon (password reveal button) in Microsoft Edge */
input[type="password"]::-ms-reveal {
  display: none;
}

.inputError {
  padding: calc((2rem - 0.8rem) / 2) 1rem;
  color: var(--error-red);
  font-size: 0.8rem;
  position: absolute;

  @media (max-width: 40rem) {
    padding: calc((1.5rem - 0.7rem) / 2) 1rem;
    font-size: 0.7rem;
  }
}

.eyeIcon {
  color: gray;
  font-size: 1.125rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;

  @media (max-width: 40rem) {
    font-size: 1rem;
    right: 0.85rem;
  }
}