.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.text {
  background-color: lightblue;
}

.button {
  background-color: lightcoral;
  cursor: pointer;
}

.link {
  background-color: lightgreen;
}