.container {
  min-height: 100dvh;
  background: black;
  padding-top: 4rem; /* 64px to account for fixed header */
}

@media (max-width: 639px) {
  .container {
    padding-top: 4rem;
    min-height: 100dvh;
  }
}
