.container {
  min-height: 100dvh;
  background: var(--primary-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  min-height: calc(100dvh - 2.5rem * 2);
  width: calc(100dvw - 2.5rem * 2);
  background-color: hsla(0, 0%, 100%, 0.7);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 40rem) {
    min-height: 100dvh;
    width: 100dvh;
    border-radius: 0;
  }
}